<section>
  <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="title">Create a New Blog Post</h2><hr>

  <form class="new-blog-form">
    <div>
      <label for="blog-title">Title:</label>
      <input type="text" class="input" id="blog-title" name="blog-title" placeholder="insert blog title here"/>
    </div>
    <div>
    <label for="blog-content">Content:</label>
    <input type="text" name="blog-content" id="blog-content" class="textarea is-large" placeholder="insert blog content here"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">Create Blog Post</button>
  </form>
</section>

<script src="/js/create-post.js"></script>