<div class="mb-5 pt-3">
    <a href="/dashboard/create"><button id="create-blog" class="button is-primary is-pulled-right">Create Blog Post</button></a>
    <h2 class="title pb-4">Dashboard: Your Blog Posts</h2><hr>

    {{#if blogs.length}}
</div>

{{#each blogs as |blog|}}
    {{> blog-info blog}}

    <a href="/dashboard/edit/{{blog.id}}"><button class="button mb-5 ml-5 is-warning"> Edit Post</button></a>
    </div>
{{/each}}

{{else}}
<h5 class="pb-4 has-text-center is-italic">You Do Not Currently Have Any Blog Posts :(</h5>

{{/if}}