 <div class="col-8 mx-auto border p-3 my-4">

    {{!-- edit blog form --}}
    <form id="edit-blog-form">
        <input type="hidden" name="blog-id" value="{{blog.id}}">
        <h3>Edit Blog:</h3>

        <div class="mb-3">
            <label for="blog-title" class="form-label">Title:</label>
            <input class="form-control" type="text" id="blog-title" name="blog-title" value="{{blog.title}}" required/>
        </div>

        <div class="mb-3">
            <label for="blog-body" class="form-label">Body:</label>
            <textarea class="form-control" id="blog-body" name="blog-body" style="height: 200px" required>{{blog.text}}</textarea>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Update</button>
            <button id="delete-btn" class="btn btn-danger" data-id="{{blog.id}}">Delete</button>
        </div>
    </form>

</div>



<script src="/js/edit.js"></script>