<div class="column">
<h2 class="title pb-4">Sign In</h2>
<form class="signin-form">
    <div>
        <label for="username-signin">Username:</label>
        <input type="text" id="username-signin"/>
    </div>
    <div>
        <label for="password-signin">Password:</label>
        <input type="password" id="password-signin"/>
    </div>
    <div>
        <button type="submit" class="button is-primary">Sign In</button>
        <a href="/signup"><button type="button" class="button is-danger">Sign Up</button></a>
    </div>
</form>
</div>

<script src="/js/signin.js"></script>